<div class="d-flex justify-content-center mt-5">
<h2>File upload page</h2>
</div>
<div class="border border-dark mt-3 p-4">
<%= simple_form_for @contract do |f| %>
  <%= f.input :file, label: "Upload a file(PDF, Image)" %>
<% end %>
</div>
